<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="static\styles\main.css">
	<title>Document</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header__top">
				<img src="" alt="" class="header__logo">
				<div class="nav-menu">
					<h1 class="header__name">НетГлобальномуПотеплению.РФ</h1>
					<div class="nav">
						<nav>
							<ul>
								<a href="#" class="nav-items-main">Главная</a>
								<a href="#problems"  class="nav-items-problem">Проблема</a>
								<a href="#section__title" class="nav-items-decision">Решение</a>
								<a href="#section-2__title" class="nav-items-contest">Конкурс</a>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<div class="header_content">
				<div class="header__context-box">
					<img src="static/img/logo.png" alt="" class="icon">
					<h1 class="header__title">НЕТ ГЛОБАЛЬНОМУ ПОТЕПЛЕНИЮ</h1>
				</div>
			</div>
		</div>
	</header>
	<main>
		
		<a 	name="problems"		id="main__title">Проблема</a>
		<p class="main__text">Глобальное потепление — существенная проблема, социальная и экологическая нагрузка, с которой сталкивается наша планета. Возрастающие выбросы парниковых газов, таких как диоксид углерода, приводят к усилению эффекта парникового газа и повышению температуры на Земле. Это приводит к изменениям климата, включая учащение экстремальных погодных условий, повышение уровня морей и угрозу для биоразнообразия. Необходимо принять срочные меры, включая снижение выбросов парниковых газов и продвижение возобновляемых источников энергии, чтобы предотвратить дальнейшее развитие этой проблемы и сохранить нашу планету для будущих поколений.</p>

	</main>

	<section class="rules">
		<a name="decision" id="section__title">Что нужно сделать чтобы победить глобальное потепление</a>
		<div class="one-part-rule">
			<P class="rule-1">Сократить выбросы парниковых газов: Регулировать и снижать использование источников энергии, основанных на угле, нефти и газе, а привлекать больше возобновляемых источников энергии, таких как солнечная и ветряная энергия.</P>
			<P class="rule-2">Смягчение эффектов изменения климата: Принимать меры адаптации и защиты от последствий глобального потепления, включая управление водными ресурсами, защиту береговых линий и продовольственную безопасность в условиях изменения климата.</P>
			<P class="rule-3">Снижение расходов на массовое производство и потребление: Поощрять устойчивые и круговые модели потребления и производства, сокращая использование ресурсов и выбросы отходов.</P>
			<P class="rule-4">Энергетическая эффективность: Принимать меры по повышению энергетической эффективности в производстве, транспорте и зданиях путем использования энергосберегающих технологий и инноваций.</P>
			<P class="rule-5">Защита лесов: Принимать меры по предотвращению вырубки лесов и повышению устойчивого лесного хозяйства, так как леса играют важную роль во взаимодействии с углекислым газом и природном равновесии.</P>
			<P class="rule-6">Международное сотрудничество: Согласовать и внедрять глобальные соглашения и договоренности для снижения выбросов парниковых газов и приспособления к изменению климата, включая сотрудничество и обмен экспертизой между странами.</P>
		</div>
	</section>	
	<section>
		<a name="contest" id="section-2__title">Конкурс</a>
		<p class="the-essence-of-the-competition">Суть конкурса состоит в том что сайт будет вам переодически скидывать задания за выполнения задач вам будут даваться баллы в конце месяца топ 3 места получат призы </p>

		<div class="quest">
			<p class="question-1">Посадите пять деревьев Награда: 5 баллов</p>
			<p class="question-2"> Сортировать мусор
			Награда: 2 балла</p>
		</div>
		<div class="btn">
			<button type="button" class="btn-2" submit>Сдать задачу</button>
			<button type="button" class="btn-1" submit>Сдать задачу</button>
		</div>
	</section>
	
</body>
</html>

