<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/reg.css">
    <title>Регистрация</title>
</head>
<body>
    <h2 class="entrance">Регистрация</h2>
    <form method="post">
         <div class="div-name">
        <label class="username" for="username">Имя пользователя:</label>
        <input  type="text" id="username" name="username" required>
    </div>
    <br>
    <div class="div-pass">
        <label class="password" for="password">Пароль:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <br>
    <div class="btn">
   <a href="/login" class="btn-1">Зарегистрироваться</a>
    </div>

         <a href="login.html">Войти</a>
    </form>
</body>
</html>